<div class="wrapper">
  <form class="action-event" [formGroup]="configurationForm">
    <div class="name">
      <select formControlName="selectedEvent">
        <option *ngFor="let step of eventAttributes">{{step.name}}</option>
      </select>
    </div>

    <div class="events" formArrayName="events">
      <div class="configuration-row" *ngFor="let event of events.controls; let i=index">
        <select>
          <option *ngFor="let attribute of selectedEventAttributes">{{attribute}}</option>
        </select>

        <select>
          <option *ngFor="let operation of operations">{{operation | translate}}</option>
        </select>
        <input>
        <span class="remove" (click)="removeRow(i)">X</span>
      </div>
      <span class="add" (click)="addEvent()">{{addEventString | translate}}</span>
    </div>
  </form>
</div>
