<div class="wrapper">
  <form class="action-event" [formGroup]="configurationForm">
    <div class="name">
      <select formControlName="name">
        <option *ngFor="let step of eventAttributes">{{step.name}}</option>
      </select>
    </div>

    <div class="events" formArrayName="events">
      <div [formGroupName]="i" class="configuration-row" *ngFor="let event of events.controls; let i=index">
        <select formControlName="name">
          <option *ngFor="let attribute of selectedEventAttributes">{{attribute}}</option>
        </select>

        <select formControlName="operation">
          <option *ngFor="let operation of operations" [ngValue]="operation.value">{{operation.title | translate}}</option>
        </select>
        <input formControlName="value">

        <ng-container *ngIf="isBetween(i)">
          {{'configuration.and' | translate}}
          <input formControlName="valueTo">
        </ng-container>
        <span class="remove" (click)="removeRow(i)">X</span>
      </div>
      <span class="add" (click)="addEvent()">{{addEventString | translate}}</span>
    </div>
  </form>
</div>
